*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #707070;
}
ul {
	list-style: none;
}
img {
	width: 100%;
}
.navbar li {
	display: inline-block;
	margin-left: 27px;
	font-size: 20px;
	letter-spacing: 0.2px;
	line-height: 27px;
}

.logo, .navbar {
	display: inline-block;
	vertical-align: middle;
	margin-top: 73px;
}
.slaider {
	max-width: 1640px;
	width: 90%;
	margin-inline: auto;
	margin-top: 134px;
	margin-bottom: 138px;
}
.popular-articles {
	margin-top: 138px;
	margin-bottom: 70px;
	font-size: 40px;
	letter-spacing: 0.4px;
	line-height: 53px;
}
.popular {
	max-width: 1640px;
	margin-inline: auto;
}
.last-articles {
	margin-top: 138px;
	margin-bottom: 70px;
	font-size: 40px;
	letter-spacing: 0.4px;
	line-height: 53px;
}
.last {
	max-width: 1640px;
	width: 90%;
	margin-inline: auto;
}
.article {
	display: inline-block;
	margin-inline: auto;
	max-width: 483px;
	margin: 30px;
	width: 100%;
}