*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #707070;
}
ul {
	list-style: none;
}
img {
	width: 100%;
}
.navbar li {
	display: inline-block;
	margin-left: 27px;
	font-size: 20px;
	letter-spacing: 0.2px;
	line-height: 27px;
}

.logo, .navbar {
	display: inline-block;
	vertical-align: middle;
	margin-top: 73px;
}
.slaider {
	max-width: 1640px;
	width: 90%;
	margin-inline: auto;
	margin-top: 134px;
	margin-bottom: 138px;
}
.popular-articles {
	margin-top: 138px;
	margin-bottom: 70px;
	font-size: 40px;
	letter-spacing: 0.4px;
	line-height: 53px;
}
.popular {
	max-width: 1640px;
	margin-inline: auto;
}
.last-articles {
	margin-top: 138px;
	margin-bottom: 70px;
	font-size: 40px;
	letter-spacing: 0.4px;
	line-height: 53px;
}
.last {
	max-width: 1640px;
	width: 90%;
	margin-inline: auto;
}
.article {
	display: inline-block;
	margin-inline: auto;
	max-width: 483px;
	margin: 30px;
	width: 100%;
}
.more {
	display: block;
	text-align: right;
	font-size: 24px;
	letter-spacing: 0.4px;
	line-height: 32px;
	margin-top: 73px;
	margin-bottom: 35px;
	margin-right: 13px;
	margin-left: 415px;

}
.static {
	margin-top: 20px;
	margin-bottom: 33px;
	margin-right: 189px;
	margin-left: 12px;
	font-size: 30px;
	letter-spacing: 0.3px;
	line-height: 40px;
}
.info {
	margin-top: 33px;
	margin-bottom: 140px;
	margin-right: 25px;
	margin-left: 12px;
	font-size: 18px;
	letter-spacing: 0 px;
	line-height: 24px;
}
.load {
	display: block;
	text-align: center;
	margin-top: 56px;
	margin-bottom: 53px;
	font-size: 30px;
	letter-spacing: 0.3 px;
	line-height: 40px;
}
.foot {
	background-color: #2E2E2E;
	max-width: 1920px;
	height: 207px;
	object-fit: contain;
	margin-top: 68px;
}
.divone, .divtwo, .logotip{
	vertical-align: middle;
	color: #F2F2F2;
	display: inline-block;
	margin-left: 150px;
	margin-top: 67px;
	margin-bottom: 78px;
}
.tel, .mail, .map {
	display: block;
	text-align: center;
	vertical-align: middle;
	color: #F2F2F2;
}